<launch>
  <node pkg="image_reprojection_tools" type="publish_image_files" name="publish_image_files" output="screen">
    <param name="frame_id" value="fisheye_camera"/>
    <param name="encoding" value="bgr8"/>
    <param name="frequency" value="2"/>
    <param name="image_path" value="$(find image_reprojection_tools)/images"/>
  </node>
  <node pkg="image_reprojection" type="image_reprojection_node" name="image_reprojection_node" output="screen">
    <rosparam>
      topic_src: image
      transport_src: compressed
      topic_dst: reprojected_image
      image_size_dst: [400,400]
      frame_dst: reprojected_camera
      use_fast_mode: true
    </rosparam>
    <rosparam ns="src_projection">
      type: image_reprojection_plugins::FisheyeProjectionPlugin
      camera_matrix: [[275.,0.,480.],[0.,275.,480.],[0.,0.,1.]]
    </rosparam>
    <rosparam ns="transform">
      type: image_reprojection_plugins::NoTransformPlugin
    </rosparam>
    <rosparam ns="dst_projection">
      type: image_reprojection_plugins::StandardProjectionPlugin
      camera_matrix: [[220.,0.,200.],[0.,220.,200.],[0.,0.,1.]]
    </rosparam>
  </node>
  <node pkg="rqt_image_view" type="rqt_image_view" name="rqt_image_view" output="screen"/>
</launch>
